.container {
    border: 2px solid black;
    width: 80vw;
    height: 200vh;
}

h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.timeline {
    position: relative;
    width: 90%;
    height: 100px;
    background: linear-gradient(to right, #ddd 0%, #ddd 50%, #aaa 50%, #aaa 100%);
    margin: 20px auto;
    border-radius: 10px;
}

.timeline-marker {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #ff0000;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s;
}

.timeline-marker:hover {
    transform: translateY(-50%) scale(1.2);
}

.timeline-marker.selected {
    background: #00ff00;
    transform: translateY(-50%) scale(1.3);
}

.minute {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 12px;
}

.main-hr {
    border: none;
    border-top: 2px solid #ccc;
    width: 95%;
    margin: 10px auto;
}

.secondary-hr {
    border: none;
    border-top: 2px solid #eaeaea;
    width: 85%;
    margin: 10px auto;
}

.stat-row {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
    padding: 8px 20px;
    align-items: center;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.stat-left {
    text-align: right;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.stat-middle {
    text-align: center;
    font-size: 16px;
    color: #667;
}

.stat-right {
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.game-content {
    display: none;  /* Hide by default */
}

.game-content.active {
    display: block;  /* Show when active */
}

.game-btn {
    padding: 10px 20px;
    background: #ddd;
    border: none;
    cursor: pointer;
}

.game-btn.active {
    background: #0088ff;
    color: white;
}